# Rails
RAILS_ENV=development
SECRET_KEY_BASE=generate_one_with_openssl_rand_hex_64

# Database
DATABASE_HOST=db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=aws_practice_development

# Gemini
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai